<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div v-if="isSeen">true일때 보여요</div>
      <div v-else>false일때 보여요</div>
      <button @click="isSeen = !isSeen">토글</button>
      <hr />
      <div v-if="name === 'Yang'">양입니다.</div>
      <div v-else-if="name === 'Lee'">이입니다.</div>
      <div v-else-if="name === 'Park'">박입니다.</div>
      <div v-else>그 누구도 아닙니다.</div>
      <hr />
      <template v-if="name === 'bot'">
        <div>로보트입니다.</div>
        <div>AI기능이 탑재되어 있지요</div>
      </template>
      <hr />
      <div v-show="isShow">나는 보이나요?</div>
    </div>

    <script>
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const isSeen = ref(false);
          const isShow = ref(true);
          const name = ref("bot");
          return {
            isSeen,
            name,
            isShow,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
