<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <input type="checkbox" v-model="checked" id="robot" />
      <label for="robot">당신은 로보트입니까</label>

      <hr />
      <div>체크네임: {{checkedNames}}</div>
      <input type="checkbox" value="kim" v-model="checkedNames" id="Kim" />
      <label for="Kim">김씨</label>
      <input type="checkbox" value="lee" v-model="checkedNames" id="Lee" />
      <label for="Lee">이씨</label>

      <hr />
      <select v-model="selected" id="">
        <option value="Jang">장씨</option>
        <option value="Choi">최씨</option>
      </select>
      {{selected}}
      <!-- 뤠디오 버튼은 해보쟝: 활용은??  -->
    </div>
    <script>
      const { createApp, ref } = Vue;

      const app = createApp({
        setup() {
          const checked = ref(false);
          const checkedNames = ref([]);
          const selected = ref("Jang");

          return {
            checked,
            checkedNames,
            selected,
          };
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
